<!DOCTYPE html>
<html>
    {% include 'accessory/header.html.twig' %}
    <body>
		<div class="container">
			<div class="row login">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<a class="small-logo" href="/" title="Home"><img class="img-responsive center-block" src="{{ asset('img/logo_flat.jpg') }}" alt="Logo INDICA"></a>
					<div class="account-wall">
    
						{% block body %}{% endblock %}
					
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">
							<a href="#" data-toggle="modal" data-target="#ModalPolitica">Pol&#237;tica de privacidad</a>
							|
							<a href="pdf/CalidadyCertificado.pdf" target="_blank">Pol&iacute;tica de Calidad</a>
							<p>&#169; <span id="fecha">2015</span>, <a href="http://clover-sgm.es" target="_blank" style="color: #333333;">Clover-SGM</a></p>
						</div>
					</div>
				</div>

			{% include 'accessory/aviso.html.twig' %}	

			</div>
		</div>     
    </body>
</html>