{# app/Resources/views/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
						
	<ul class="nav nav-tabs" id="myTabs" role="tablist">
		<li role="presentation" class="active"><a href="#cuestionario" id="cuestionario-tab" role="tab" data-toggle="tab" aria-controls="cuestionario" aria-expanded="true"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> CUESTIONARIO </a></li>
		<li role="presentation" class="disabled"><a href="#" id="webinar-tab" role="tab" data-toggle="tab" data-placement="top" aria-controls="webinar"><i class="fa fa-minus-circle" aria-hidden="true"></i> WEBINAR </a></li>
		<li role="presentation" class="disabled"><a href="#" id="tab3-tab" role="tab" data-toggle="tab" data-placement="top" aria-controls="tab3"><i class="fa fa-minus-circle" aria-hidden="true"></i> CUESTIONARIO 2 </a></li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade in active" role="tabpanel" id="cuestionario" aria-labelledby="home-tab">
		
			{% if form is defined %}

				{% include 'default/cuestionario.html.twig' %}
				
			{% else %}
				<div class="form-block">
					<p class="align-center send-ok">El cuestionario ya sido enviado, gracias por tu colaboraci&oacute;n</p>
				</div>			
				
			{% endif %}

		</div>
		<div class="tab-pane fade" role="tabpanel" id="webinar" aria-labelledby="profile-tab">
        	
        	{% if webRes is defined %}

				<p class="align-center send-ok">{{ webRes }}</p>				
				
			{% else %}
				
				{% include 'default/webinar.html.twig' %}
				
			{% endif %}
      	
		</div>
		<div class="tab-pane fade" role="tabpanel" id="tab3" aria-labelledby="profile-tab">
        	
        	{% include 'default/tab3.html.twig' %}
        	
		</div>
	</div>

{% endblock %}