{% extends "simplebase.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <p class="text-center send-ok">Registration confirmed por el usuario <strong>{{ user.username }}</strong></p>
    {% if targetUrl %}
    	<p><a href="{{ targetUrl }}" class="btn btn-lg btn-sample btn-block">Empiesa</a></p>
    {% endif %}
{% endblock body %}


