{% extends "simplebase.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <p class="text-center send-message">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</strong></p>
    {% if targetUrl %}
    	<p><a href="{{ targetUrl }}" class="btn btn-lg btn-sample btn-block">Empezar</a></p>
    {% endif %}
{% endblock body %}

