<div class="form-group">
	<label class="col-md-8 control-label" for="textinput"><span class="badge">{{ letra | capitalize }}</span> {{ titulo | raw }}</label>
	<div class="col-md-2">
		{{ result }}		
	</div>
</div>