{% extends "simplebase.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

<p class="text-center send-message">
    {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>

{% endblock %}



	

