{% extends "simplebase.html.twig" %}
{% block body %}
	
	<h1 class="text-center">Recuperar la contrase&ntilde;a</h1>
    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}

{% endblock body %}


