{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-horizontal form-signin">
    <fieldset>
	    
	    <!-- Text input-->
        <div class="form-group">
            <label class="col-xs-2 control-label text-right" for="email" style="padding-top:0;"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></label>
            <div class="col-xs-10">
            	<input id="username" name="username" placeholder="Email" class="form-control input-md" required="required" type="email">
            </div>
        </div>

       	<!-- Button (Double) -->
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" id="button1id" name="button1id" class="btn btn-sample btn-md col-md-9 col-xs-12">{{ 'resetting.request.submit'|trans }}</button>
                <a href="login" class="btn btn-danger btn-md col-md-2 pull-right col-xs-12">Cancelar</a>
            </div>
        </div>	    

    </fieldset>
</form>
    

