{# app/Resources/views/default/index.html.twig #}
{% extends 'partes/basepartes.html.twig' %}
	
{% block submenu %}

	<a href="datos-personales">Datos personales</a>
	<a href="epidemiologia">Epidemiologia</a>
	<a href="diagnostico">Diagnostico</a>
	<a href="tratamiento">Tratamiento</a>
	<a href="manejo">Manejo</a>
	<a href="val-clinica">Val Clinica</a>
	<a href="val-terapeutica">Val Terapeutica</a>
	<a href="calidad">Calidad</a>

{% endblock %}

{% block form %}		
				
	<div class="form-block">
		<h4 class="tittle-section">{{ titulos.titulo0 | raw }}</h4>
	</div>
	
	<!-- Pregunta0.A -->
	<div class="form-block">

		{% if form is defined %}
		
	    	{% include 'partes/formularios/formulario-datos-personales.html.twig' %}
	    	
		{% elseif datos is defined %}
		
			{% include 'partes/results/result-datos-personales.html.twig' %}
	
		{% endif %}
		
	</div>

{% endblock %}